<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display: flex; align-items: center;">
        <img src="assets/TELLEVO.png" alt="Logo" style="height: 40px; margin-right: 10px;">
        <span>Seleccionar destinos</span>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/uprofile">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Detalles del viaje -->
  <ion-card *ngIf="viaje">
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Inicio:</strong> {{ viaje.nombreFin }}</p>
      <p><strong>Destino:</strong> {{ viaje.nombreInicio }}</p>
      <p><strong>Asientos Disponibles:</strong> {{ viaje.asientosDisponibles }}</p>
      <p><strong>Asientos Disponibles:</strong> {{ viaje.estado }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
