<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display: flex; align-items: center;">
        <img src="assets/TELLEVO.png" alt="" style="height: 40px; margin-right: 10px;">
        <span>Bienvenidos a Te llevo app!</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="full-height">
  <ion-card class="full-card">
    <ion-card-content>
      <div style="text-align: center; margin-bottom: 20px;">
        <img [src]="driverData?.img ? driverData?.img : 'assets/usuario.png'" alt="Foto de perfil" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;">
        <ion-card-title>{{ driverData?.nombre }} {{ driverData?.apellido }}</ion-card-title>
        <h2>{{ driverData?.tipo }}</h2>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="success" routerLink="/users">
              Usuarios
              <ion-icon slot="end" name="person-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="tertiary" routerLink="/viajes">
              Viajes
              <ion-icon slot="end" name="car-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="danger" (click)="logout()">
              Logout
              <ion-icon slot="end" name="log-out-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
